<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Social Pranzo</title>
  <meta name="description" content="gpi fontevivo parma social pranzo">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="Social Lunch">
  <meta property="og:description" content="gpi fontevivo parma social pranzo">
  <meta property="og:image" content="">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- import the webpage's client-side javascript file -->
  <script src="/client.js" defer></script>
  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <script src="sweetalert2.all.min.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127349972-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-127349972-2');
  </script>
</head>

<body>
  <header>
    <h2>Vieni a pranzo con noi?</h2>
  </header>

  <main>
    <form method="POST" id="name_form">
      Data<input type="date" name="date" required>
      Nome<input name="name" placeholder="Nome" required />
      <input name="rememberMe" type="checkbox" style="display: inline-block;" />
      <label for="rememberMe">Ricordami su questo dispositivo</label>
      <label for="courseChoice" style="display: block;">Piatto scelto</label>
      <input name="courseChoice" />
      <input type="submit" value="Vengo anch'io!">
      <input type="button" onclick="deleteMe()" value="Cancellami">
      <input type="button" onclick="getList()" value="Mostra la lista">
      <input type="file" name="menu_file" id="menu_file" />
      <input type="button" onclick="uploadMenu()" value="Invia menù">
      <span id="download_menu"></span>

      <div id="cover" style="display:none"></div>

    </form>

    <div id="result_div">
      <table id="result_table">

      </table>
    </div>
  </main>

  <footer>
    Questo sito non usa <u>alcun</u> tipo di cookie<br>
    Social lunch 1.5.0 by <a href="mailto:nicola.farina64@gmail.com">nicofari</a>
  </footer>

  <a class="dbox-donation-button" target="_blank" href="https://donorbox.org/supporta-social-lunch?default_interval=m"
    style="background:#2d81c5 url(https://d1iczxrky3cnb2.cloudfront.net/red_logo.png) no-repeat 37px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 15px 38px 15px 75px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3);">Sostieni
    social-lunch!</a>

  <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
  <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
  <script src="https://button.glitch.me/button.js"></script>

</body>

</html>